$red:#E8504F;
$grey:#888;
$font:'Microsoft Yahei';
$m-md:20px;
$m-l:50px;
$m-s:10px;
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  background-color: #fff;
  font-family: $font;
}
.wrap{
  width: 100%;
  margin: 0 auto;
  min-width: 1000px;
  position:relative;
}
header{
  position:fixed;
  top:0;
  width: 100%;
  min-width: 800px;
  z-index:10;
  .logo{
    margin-left:$m-l;
    margin-top: $m-md;

    span{
      font-size:30px;
      margin-left: $m-s;
    }
  }
  ul{
    position: absolute;
    top:$m-s;
    right: $m-l;
    li{
      display: inline-block;
      padding: $m-md;
      color:$grey;
      line-height: $m-md;
      &:first-child{
        color:$red;
        border-bottom:solid 3px $red;
      }
      &:last-child{
        color:$red;
      }
    }
  }
}
.one{
  width:100%;
  height:750px;
  position: relative;
  top:86px;
  img{
     width: 100%;
     height:100%;
  }
  .one-one{
    font-size:48px;
    color:#333;
    position:absolute;
    top:250px;
    left:120px;
  }
  .one-two{
    font-size:25px;
    color:#333;
    position:absolute;
    top:320px;
    left:120px;
  }
  input[type="button"]{
    color:#fff;
    background-color: $red;
    font-size:33px;
    width:300px;
    height: 50px;
    outline:none;
    position:absolute;
    top:450px;
    left:120px;
  }
}
.two{
  position: relative;
  top:86px;
  table{
    width:90%;
    margin:$m-md auto;
    tr{
      td{
        text-align:center;
        width:20%;
        color:$grey;
      }
    }
    .second-tr td{
      padding:$m-s ($m-l+$m-md);
      border-right:solid 2px $grey;
    }
  }
}
.three{
  position: relative;
  top:86px;
  background-color: #EEECED;
  padding:100px;
  width:100%;
  text-align: center;
  img{
    text-align:center;
    width:100px;
    height:100px;

  }
  p{
    margin-top:$m-md;
    font-size:55px;
    color:$grey;

  }
}
.four{
  position: relative;
  top:86px;
  width:100%;
  img{
    width:100%;
    height:350px;
  }
  .four-text{
    position:absolute;
    top: 80px;
    width:100%;
    text-align:center;
    .four-text-one{
      font-size:25px;
      color:#fff;
      margin:20px;
    }
    .four-text-two{
      font-size:15px;
      color:#fff;
      margin:20px;
    }
    form{
      input[type="text"]{
        width:250px;
        height:40px;
        outline:none;
        margin-right:30px;
        background-image: url('../../imgs/enve.jpg');
        background-position: right center;
        background-repeat: no-repeat;
        border:solid 1px $red;
      }
      input[type="button"]{
        width:250px;
        height:40px;
        outline:none;
        background-color:$red;
        color:#fff;
        font-size:20px;
        font-family: 'Microsoft Yahei';
        letter-spacing: 40px;
        text-align:center;
        border:solid 1px $red;
      }
    }
  }

}
.five{
  position: relative;
  top:86px;
  width:100%;
  height:500px;
  text-align: center;
  background-color: F7F7F7;
  .five-one{
    display: inline-block;
    width:220px;
    height:350px;
    margin:60px 30px 40px 30px;
    text-align: center;
    img{
      width:200px;
      height:300px;
      background-color: #fff;
      border: solid 1px $grey;
      padding:10px;
    }
    .five-bigtext{
      margin-top: 20px;
       font-size:18px;
    }
    .five-smalltext{
      font-size:12px;
      color:$grey;
      margin-bottom: 20px;
    }
    .five-one-bigtext{
      font-size: 25px;
      letter-spacing: 25px;
    }
  }
}
.six{
  position:relative;
  top:86px;
  width:100%;
  height:550px;
  .six-left{
    width:65%;
    min-width:600px;
    display: inline-block;
    img{
      width:100%;
      height:550px;
    }
   .six-text{
     position:absolute;
     top:130px;
     left:25%;
     color:$red;
     text-align:center;
      .six-onetext{
          font-size: 40px;
      }
      .six-twotext{
        font-size: 100px;
        font-weight: bold;
      }
      .six-threetext{
        font-size:25px;
      }
      .six-fourtext{
        font-size:22px;
      }
   }
  }
  .six-right{
    display: inline-block;
    position: relative;
    top:-200px;
    width:34%;
    text-align: center;
    padding-bottom: 200px;
    .six-right-onetext{
      font-size:30px;
      font-weight: bold;
      text-align: center;
      span{
        color:red;
      }
    }
    .six-right-twotext{
      width:300px;
      margin:30px auto;
      color: $grey;
      line-height: 20px;
      font-size: 10px;

    }
    button{
      border:solid 1px $red;
      background-color:#fff;
      font-size:20px;
      font-weight:bold;
      color: $red;
      width: 100px;
      height:35px;
    }
  }
}
.seven{
  position:relative;
  top:86px;
  width:100%;
  .seven-one{
    display:inline-block;
    width:33.33%;
    height:550px;
    background-color: $red;
    text-align: center;
    div{
      position:absolute;
      top:180px;
      left:150px;
      p{
        color:#fff;
        font-size:25px;
        line-height: 50px;
      }
      hr{
        color:#fff;
        width:30px;
        margin:30px 100px;

      }
      button{
        width:180px;
        height:40px;
        color:#fff;
        font-weight:bold;
        font-size:20px;
        border:solid 1px #fff;
        background-color: $red;
      }
    }
  }
  .seven-two{
    display:inline-block;
    width:33.33%;
    height:550px;
    background-color: #fff;
    text-align: center;
    div{
      position:absolute;
      top:180px;
      left:700px;
      p{
        font-size:25px;
        line-height: 50px;
      }
      hr{
        color:#fff;
        width:30px;
        margin:30px 100px;

      }
      button{
        width:180px;
        height:40px;
        color:$red;
        font-weight:bold;
        font-size:20px;
        border:solid 1px $red;
        background-color: #fff;
      }
    }
  }
  .seven-three{
    display: inline-block;
    width:32%;
    height:550px;
    img{
      width: 100%;
      height: 100%;
    }
  }
}
.eight{
  position: relative;
  top:86px;
  .eight-up{
    width:100%;
    text-align:center;
    margin-top: 100px;
    .eight-up-first{
      font-size:30px;
      line-height:50px;
    }
    .eight-up-second{
      display: inline-block;
      width:45%;
      font-size:15px;
      color: $grey;
    }
  }
  .eight-down{
    width: 80%;
    margin:0 auto;
    .eight-left{
      width:35%;
      display: inline-block;
      .eight-left-one{
        padding:20px;
        .rule-title{
          font-size: 22px;
          line-height: 60px;
          color: $grey;
        }
        .rule-content{
          font-size:15px;
          color:$grey;
        }
        .rule-footer{
          a{
            margin-left:85%;
            color:$grey;
          }
        }
      }

    }
    .eight-right{
     width:63%;
     display: inline-block;
     table{
       width: 100%;
       tr{
         width:100%;
         td{
           padding:10px ;
           background-color: #EDEDEF;
           height:55px;
           span {
             input{
               background-color:#EDEDEF;
               border:none;
             }
           }
           textarea{
             width:100%;
             height: 100px;
             background-color:#EDEDEF;
             border: none;
           }
           button{
             border:none;
             background-color:#EDEDEF;
             font-size:20px;
             display: block;
             font-family: $font;
             margin:0 auto;
           }
          }
        }
     }
    }

}
}
.nine{
  position: relative;
  top:286px;
  background-color:#33363F;
  width:100%;
  height:350px;
  color:#fff;
  text-align:center;
  .nine-one{
    padding-top:100px;
    font-size:22px;
    line-height: 50px;
  }
  .nine-two{
    font-size:15px;
  }
  .nine-three{
    padding-top:40px;
    line-height: 40px;
    input{
      width: 40%;
      height:40px;
      color: $grey;
    }
    button{
      background-color:#717179;
      width:80px;
      height: 40px;
      color:#fff;
      border:none;
      font-size:22px;
      font-family: $font;
      position:relative;
      top:-10px;
    }

  }
}
footer{
  width: 100%;
  height:50px;
  position: relative;
  top:286px;
  background-color: #30303A;
  color:#fff;
padding-top:15px;
  span{
    margin-left:100px;
  }
  a{
    margin-left:80%;
  }
}
