* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #fff;
  font-family: "Microsoft Yahei"; }

.wrap {
  width: 100%;
  margin: 0 auto;
  min-width: 1000px;
  position: relative; }

header {
  position: fixed;
  top: 0;
  width: 100%;
  min-width: 800px;
  z-index: 10; }
  header .logo {
    margin-left: 50px;
    margin-top: 20px; }
    header .logo span {
      font-size: 30px;
      margin-left: 10px; }
  header ul {
    position: absolute;
    top: 10px;
    right: 50px; }
    header ul li {
      display: inline-block;
      padding: 20px;
      color: #888;
      line-height: 20px; }
      header ul li:first-child {
        color: #E8504F;
        border-bottom: solid 3px #E8504F; }
      header ul li:last-child {
        color: #E8504F; }

.one {
  width: 100%;
  height: 750px;
  position: relative;
  top: 86px; }
  .one img {
    width: 100%;
    height: 100%; }
  .one .one-one {
    font-size: 48px;
    color: #333;
    position: absolute;
    top: 250px;
    left: 120px; }
  .one .one-two {
    font-size: 25px;
    color: #333;
    position: absolute;
    top: 320px;
    left: 120px; }
  .one input[type="button"] {
    color: #fff;
    background-color: #E8504F;
    font-size: 33px;
    width: 300px;
    height: 50px;
    outline: none;
    position: absolute;
    top: 450px;
    left: 120px; }

.two {
  position: relative;
  top: 86px; }
  .two table {
    width: 90%;
    margin: 20px auto; }
    .two table tr td {
      text-align: center;
      width: 20%;
      color: #888; }
    .two table .second-tr td {
      padding: 10px 70px;
      border-right: solid 2px #888; }

.three {
  position: relative;
  top: 86px;
  background-color: #EEECED;
  padding: 100px;
  width: 100%;
  text-align: center; }
  .three img {
    text-align: center;
    width: 100px;
    height: 100px; }
  .three p {
    margin-top: 20px;
    font-size: 55px;
    color: #888; }

.four {
  position: relative;
  top: 86px;
  width: 100%; }
  .four img {
    width: 100%;
    height: 350px; }
  .four .four-text {
    position: absolute;
    top: 80px;
    width: 100%;
    text-align: center; }
    .four .four-text .four-text-one {
      font-size: 25px;
      color: #fff;
      margin: 20px; }
    .four .four-text .four-text-two {
      font-size: 15px;
      color: #fff;
      margin: 20px; }
    .four .four-text form input[type="text"] {
      width: 250px;
      height: 40px;
      outline: none;
      margin-right: 30px;
      background-image: url("../../imgs/enve.jpg");
      background-position: right center;
      background-repeat: no-repeat;
      border: solid 1px #E8504F; }
    .four .four-text form input[type="button"] {
      width: 250px;
      height: 40px;
      outline: none;
      background-color: #E8504F;
      color: #fff;
      font-size: 20px;
      font-family: 'Microsoft Yahei';
      letter-spacing: 40px;
      text-align: center;
      border: solid 1px #E8504F; }

.five {
  position: relative;
  top: 86px;
  width: 100%;
  height: 500px;
  text-align: center;
  background-color: F7F7F7; }
  .five .five-one {
    display: inline-block;
    width: 220px;
    height: 350px;
    margin: 60px 30px 40px 30px;
    text-align: center; }
    .five .five-one img {
      width: 200px;
      height: 300px;
      background-color: #fff;
      border: solid 1px #888;
      padding: 10px; }
    .five .five-one .five-bigtext {
      margin-top: 20px;
      font-size: 18px; }
    .five .five-one .five-smalltext {
      font-size: 12px;
      color: #888;
      margin-bottom: 20px; }
    .five .five-one .five-one-bigtext {
      font-size: 25px;
      letter-spacing: 25px; }

.six {
  position: relative;
  top: 86px;
  width: 100%;
  height: 550px; }
  .six .six-left {
    width: 65%;
    min-width: 600px;
    display: inline-block; }
    .six .six-left img {
      width: 100%;
      height: 550px; }
    .six .six-left .six-text {
      position: absolute;
      top: 130px;
      left: 25%;
      color: #E8504F;
      text-align: center; }
      .six .six-left .six-text .six-onetext {
        font-size: 40px; }
      .six .six-left .six-text .six-twotext {
        font-size: 100px;
        font-weight: bold; }
      .six .six-left .six-text .six-threetext {
        font-size: 25px; }
      .six .six-left .six-text .six-fourtext {
        font-size: 22px; }
  .six .six-right {
    display: inline-block;
    position: relative;
    top: -200px;
    width: 34%;
    text-align: center;
    padding-bottom: 200px; }
    .six .six-right .six-right-onetext {
      font-size: 30px;
      font-weight: bold;
      text-align: center; }
      .six .six-right .six-right-onetext span {
        color: red; }
    .six .six-right .six-right-twotext {
      width: 300px;
      margin: 30px auto;
      color: #888;
      line-height: 20px;
      font-size: 10px; }
    .six .six-right button {
      border: solid 1px #E8504F;
      background-color: #fff;
      font-size: 20px;
      font-weight: bold;
      color: #E8504F;
      width: 100px;
      height: 35px; }

.seven {
  position: relative;
  top: 86px;
  width: 100%; }
  .seven .seven-one {
    display: inline-block;
    width: 33.33%;
    height: 550px;
    background-color: #E8504F;
    text-align: center; }
    .seven .seven-one div {
      position: absolute;
      top: 180px;
      left: 150px; }
      .seven .seven-one div p {
        color: #fff;
        font-size: 25px;
        line-height: 50px; }
      .seven .seven-one div hr {
        color: #fff;
        width: 30px;
        margin: 30px 100px; }
      .seven .seven-one div button {
        width: 180px;
        height: 40px;
        color: #fff;
        font-weight: bold;
        font-size: 20px;
        border: solid 1px #fff;
        background-color: #E8504F; }
  .seven .seven-two {
    display: inline-block;
    width: 33.33%;
    height: 550px;
    background-color: #fff;
    text-align: center; }
    .seven .seven-two div {
      position: absolute;
      top: 180px;
      left: 700px; }
      .seven .seven-two div p {
        font-size: 25px;
        line-height: 50px; }
      .seven .seven-two div hr {
        color: #fff;
        width: 30px;
        margin: 30px 100px; }
      .seven .seven-two div button {
        width: 180px;
        height: 40px;
        color: #E8504F;
        font-weight: bold;
        font-size: 20px;
        border: solid 1px #E8504F;
        background-color: #fff; }
  .seven .seven-three {
    display: inline-block;
    width: 32%;
    height: 550px; }
    .seven .seven-three img {
      width: 100%;
      height: 100%; }

.eight {
  position: relative;
  top: 86px; }
  .eight .eight-up {
    width: 100%;
    text-align: center;
    margin-top: 100px; }
    .eight .eight-up .eight-up-first {
      font-size: 30px;
      line-height: 50px; }
    .eight .eight-up .eight-up-second {
      display: inline-block;
      width: 45%;
      font-size: 15px;
      color: #888; }
  .eight .eight-down {
    width: 80%;
    margin: 0 auto; }
    .eight .eight-down .eight-left {
      width: 35%;
      display: inline-block; }
      .eight .eight-down .eight-left .eight-left-one {
        padding: 20px; }
        .eight .eight-down .eight-left .eight-left-one .rule-title {
          font-size: 22px;
          line-height: 60px;
          color: #888; }
        .eight .eight-down .eight-left .eight-left-one .rule-content {
          font-size: 15px;
          color: #888; }
        .eight .eight-down .eight-left .eight-left-one .rule-footer a {
          margin-left: 85%;
          color: #888; }
    .eight .eight-down .eight-right {
      width: 63%;
      display: inline-block; }
      .eight .eight-down .eight-right table {
        width: 100%; }
        .eight .eight-down .eight-right table tr {
          width: 100%; }
          .eight .eight-down .eight-right table tr td {
            padding: 10px;
            background-color: #EDEDEF;
            height: 55px; }
            .eight .eight-down .eight-right table tr td span input {
              background-color: #EDEDEF;
              border: none; }
            .eight .eight-down .eight-right table tr td textarea {
              width: 100%;
              height: 100px;
              background-color: #EDEDEF;
              border: none; }
            .eight .eight-down .eight-right table tr td button {
              border: none;
              background-color: #EDEDEF;
              font-size: 20px;
              display: block;
              font-family: "Microsoft Yahei";
              margin: 0 auto; }

.nine {
  position: relative;
  top: 286px;
  background-color: #33363F;
  width: 100%;
  height: 350px;
  color: #fff;
  text-align: center; }
  .nine .nine-one {
    padding-top: 100px;
    font-size: 22px;
    line-height: 50px; }
  .nine .nine-two {
    font-size: 15px; }
  .nine .nine-three {
    padding-top: 40px;
    line-height: 40px; }
    .nine .nine-three input {
      width: 40%;
      height: 40px;
      color: #888; }
    .nine .nine-three button {
      background-color: #717179;
      width: 80px;
      height: 40px;
      color: #fff;
      border: none;
      font-size: 22px;
      font-family: "Microsoft Yahei";
      position: relative;
      top: -10px; }

footer {
  width: 100%;
  height: 50px;
  position: relative;
  top: 286px;
  background-color: #30303A;
  color: #fff;
  padding-top: 15px; }
  footer span {
    margin-left: 100px; }
  footer a {
    margin-left: 80%; }
