* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.one {
  width: 150px;
  border: solid 1px tomato;
  height: 120px; }

.two {
  width: 150px;
  border: solid 1px tomato;
  height: 100px; }

.three {
  width: 150px;
  border: solid 1px tomato;
  height: 40px; }

.four {
  width: 150px;
  border: solid 1px blue;
  height: 200px; }

@media all and (min-width: 640px) {
  .container {
    border: solid 1px #888;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; } }

@media all and (max-width: 640px) {
  .container {
    border: solid 1px #888;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start; }
  .one {
    order: 2; }
  .two {
    order: 3; }
  .three {
    order: 4;
    margin-top: 20px; }
  .four {
    order: 1; } }
